{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Results
{% endblock %}

{% block content %}

	<p>Normalization choices:</p>
	<p>{{ player.normalization[0] }}</p>
	<p>{{ player.normalization[1] }}</p>
	<p>{{ player.normalization[2] }}</p>
	<p>{{ player.normalization[3] }}</p>
	<p>{{ player.normalization[4] }}</p>
	<p>{{ player.normalization[5] }}</p>
	<p>{{ player.normalization[6] }}</p>
	<p>{{ player.normalization[7] }}</p>
	<p>{{ player.normalization[8] }}</p>
	<p>{{ player.normalization[9] }}</p>

	<p>Normalization amount: {{ normalization_amount }} </p>

	{% next_button %}

	{{ form.errors }}

{% endblock %}


