{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Normalization task
{% endblock %}

{% block content %}

    <table class="table">
    <tr>
        <th>Choice Number</th><th>Option A</th><th>Option B</th>
    </tr>
    {% for number in norm_numbers %}
    <tr>
        <td>{{ number }}</td>
        <td><input type="radio" name="norm_{{ number }}" value="True" required>  $10 for you</td>
        <td><input type="radio" name="norm_{{ number }}" value="False" required>  ${{number}} for charity</td>
    </tr>
    {% endfor %}
</table>

    {% next_button %}

{% endblock %}