{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Donation Task
{% endblock %}

{% block content %}

	{{ form.donation_1.errors }}
	{{ form.donation_2.errors }}

	<table class="table">
		<tr>
			<th>Choice Number</th><th>Option A ({{self_prob}}&#37; - {{char_prob}}&#37; chance between the two amounts) </th><th>Option B</th>
		</tr>
		{% for choice_number in choice_numbers %}
		<tr>
			<td>{{ choice_number }}</td>
			<td><input type="radio" name="donation_{{ choice_number }}" value="True"> $10.00 or $0.00 for yourself </td>
			<td><input type="radio" name="donation_{{ choice_number }}" value="False"> {{ choice_number|c }} for charity </td>
		</tr>
		{% endfor %}

		
	</table>

    {% next_button %}

{% endblock %}
