{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Results
{% endblock %}

{% block content %}

	<p>Normalization choices:</p>
	<p>{{ player.donation_0 }}</p>
	<p>{{ player.donation_1 }}</p>
	<p>{{ player.donation_2 }}</p>
	<p>{{ player.donation_3 }}</p>
	<p>{{ player.donation_4 }}</p>
	<p>{{ player.donation_5 }}</p>
	<p>{{ player.donation_6 }}</p>
	<p>{{ player.donation_7 }}</p>
	<p>{{ player.donation_8 }}</p>
	<p>{{ player.donation_9 }}</p>



	<p>Donation amount: {{ donation_amount|c }} </p>

	{% next_button %}

	{{ form.errors }}

{% endblock %}


